* {
  font-family: "Doodle_Head";
}

.title{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  font-weight: bolder;
    top: -2px;
    left: 16px;
    font-size: 22px;
  }



body {
  background-image: url(stickman_crossroads_new.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

/*Positioning of Group A,B,C */
* {
  font-family: monospace;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
}

.group-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

/* Content of Group A,B,C*/
.groups {
  height: 100px;
  width: 100px;
  padding: 20px;
  margin: 50px;
  border: 10px solid black;
  background-color: white;
  color: crimson;
}

#group_A {
  background-image: url(stickman_social.jpeg);
  background-repeat: no-repeat;
  background-size: 138px;
  background-position: center bottom;
  height: 100px;
  width: 100px;
  padding: 20px;
  margin: 50px;
  border: 10px solid black;
}

#group_B {
  background-image: url(stickman_school_new.png);
  background-repeat: no-repeat;
  background-size: 132px;
  background-position: center bottom;
  height: 100px;
  width: 100px;
  padding: 20px;
  margin: 50px;
  border: 10px solid black;
}

#group_C {
  background-image: url(stickman_health.png);
  background-repeat: no-repeat;
  background-size: 87px;
  background-position: center bottom;
  height: 100px;
  width: 100px;
  padding: 20px;
  margin: 50px;
  border: 10px solid black;
}

/*Positioning of Prompt Box */
.textBox-container {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
  border: 10px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* height: 10vh; */
  max-width: 30%;
  padding: 20px;
  margin: auto;
  background-color: lightgray;
}

/*Content of Prompt Box */
#textBox {
  color: maroon;
  font-family: "Doodle_Head";
  font-size: 30px;
}

/*Positioning of Choice Buttons */
.choices-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* Content of Btn 1*/
#choice_1 {
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  color: white;
  background-color: black;
  font-family: "Doodle_Head", sans-serif;
  font-size: x-large;
}
/* Content of Btn 2*/
#choice_2 {
  border-radius: 5px;
  margin: 50px;
  padding: 10px;
  color: white;
  background-color: black;
  font-family: "Doodle_Head", sans-serif;
  font-size: x-large;
}

#choice_expanded {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 2vh;
  
  font-family: "Doodle_Head";
  font-weight: bold;
  font-size: x-large;
  /* -webkit-text-fill-color: white; */
  text-shadow: 0px 0px 7px white, 0 0 1em darkgrey, 0 0 0.2em darkgrey;
  
  width: 100%;
}

#choice_expanded p {
  /* max-width: 600px;  */
  margin: 0 auto;
  color: maroon;
}

.button {
  display: block;
  margin: 15px auto;
  width: 50%;
  border: 2px solid rgb(44, 44, 44);
  padding: 5px 50px;
  border-radius: 8px;
  text-decoration: none;
  background: #3c3c3c;
  transition: 0.2s;
  font-size: 14px;
  color: white;
}

.button:hover {
  transform: translateY(-7px);
  transform: scale(1.1);
}


p:hover {
  text-decoration: underline;
  /* Let's change the cursor on hover */
  cursor: pointer;
}